* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(250, 244, 244);
}

::-webkit-scrollbar-thumb {
    background:#11839b;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.general-color {
    color: #3ca55c;
}

body {
    background-color: #F7ECDE;
}

main {
    background-image: url("../wallpaperflare.com_wallpaper\ \(2\).jpg");
    border: 2px solid transparent;
    position: relative;
    padding: 0 !important;
    min-height: 100vh;
}

main::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .1);
    /* opacity: .6; */
    z-index: -1;
}

.inputs {
    /* width: 95%; */
}

.result {
    width: 85%;
}

.table {
    opacity: .8;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    /* border: 2px solid red; */
}

#caption h1 {
    font-size: 50px;
    position: relative;
    font-family: 'Pacifico', cursive;
    z-index: 500;
}

label {
    font-family: 'PT Sans', sans-serif;
    z-index: 500;
    color: white;

}

table {
    font-family: 'PT Sans', sans-serif;

}

/* .yellowfocase:focus{
    box-shadow: 0px 0px 0px 4px #fec1608e;
  border: 1px solid #FEC260;
} */
.redfocase:focus {
    box-shadow: 0px 0px 0px 4px rgba(255, 0, 0, 0.346);
    border: 1px solid #ff0000df;
}

.greanfocase:focus {
    box-shadow: 0px 0px 0px 4px rgba(0, 128, 0, 0.269);
    border: 1px solid rgba(0, 128, 0, 0.624);
}

.head h2 {
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    font-size: 25px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Righteous', cursive;
}

.inputs {

    border-color: #352e28;
    margin-top: 40px !important;

}

.input {

    width: 100% !important;
    margin: auto;

}

input {
    opacity: .7;
    width: 100%;

}

.button button {
    padding: 5px 40px;
    opacity: .6;
}

a {
    color: #fff;
    text-decoration: none !important;
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
    .head h2 {
        font-size: 22px;

    }

    .up {
        display: none;
    }

    .search-table {
    }

    input {
        opacity: .7;
        width: 100% !important;

    }


}

.line {
    background-color: white;
    width: 100%;
    height: 2px;
}

.txttt {
    border-top: 2px solid gray;
    padding: 20px 0;
}